@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: Bold;
}
:root {
    font-size: 10px;
    --bold--font--family : 'Pretendard-Bold';
    --regular--font--family : 'Pretendard-Regular';
    --main--color : #fff;

}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 6rem;
    width: 100%;
    height: 100vh;
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

.timer-container {
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
    box-shadow: 20px 20px 60px 10px #374B7C66;
    border : none;
    border-radius: 1.6rem;
    padding: 4.8rem 4.4rem 4rem;
    color: var(--main--color);
    font-family: var(--bold--font--family);
    font-size: 2.4rem;
    line-height: 2.88rem;
}

.timer-container > h2 {
    text-align: center;
}

.timer-time-container {
  display: flex;
  gap : 2.2rem;
  font-size: 1.2rem;
  line-height: 1.44rem;
}

.timer-input-wrap {
    display: flex;
    width: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-input-wrap > input {
    width: 100%;
    padding : 1.6rem 1.4rem;
    background: linear-gradient(314.28deg, #304577 0%, #4C65A0 83%);
    border: 1px solid #354971;
    border-radius: 0.4rem;
    font-family: var(--bold--font--family);
    font-size: 4rem;
    line-height: 4.801rem;
    text-align: center;
    color : var(--main--color);
}